<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FreakingApp01.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BDFE2231E9FC78900135638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BDFE2371E9FC78900135638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BDFE2421E9FC78900135638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
